<div *ngIf="successMessage" class="alert alert-success">
    {{successMessage}}
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
</div>

<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="header row justify-content-center">
        <h3> Log in </h3>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email" value="">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" value="">
        </mat-form-field>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="login()"> Login </button>
    </div>
    <div class="form-group">
        Do not have an account, <a routerLink="/signup">Signup</a>
    </div>
</div>
