<div class="row justify-content-center">
    <h3>Ways to stay safe and protect yourself</h3>
</div>

<div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card align-items-center">
        <img class="card-img-top" src="https://images.prismic.io/adahealth/48282c12-00bf-4d9d-9980-c7cda570ac0c_covid19-icon-hands.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">wash hands for 20 seconds</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card align-items-center">
            <img class="card-img-top" src="https://images.prismic.io/adahealth/632e3b31-6dc3-41fe-ba11-334bd3c61b25_covid19-icon-tissue.svg">
            <div class="card-body">
              <p class="card-text">cover yourself while sneezing</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card align-items-center">
          <img class="card-img-top" src="https://images.prismic.io/adahealth/1f8a2ed8-7f07-45dd-9aac-34ead44bc979_covid19-icon-disinfect.svg">
          <div class="card-body">
            <p class="card-text">Disinfect frequently touched surfaces.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
          <div class="card align-items-center">
              <img class="card-img-top" src="https://images.prismic.io/adahealth/ea41a4b8-941a-4908-be72-c9fdf85c2f83_covid19-icon-contact.svg">
              <div class="card-body">
                <p class="card-text">avoid close contact with others</p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="card align-items-center">
          <img class="card-img-top" src="https://images.prismic.io/adahealth/3ab18c2a-dce0-4afa-9b33-ad90e5ff140f_covid19-icon-home.svg">
          <div class="card-body">
            <p class="card-text">stay home if you have symptoms</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
          <div class="card align-items-center">
              <img class="card-img-top" src="https://images.prismic.io/adahealth/212d3926-acd6-459e-b2a2-c1e5d67cd052_covid19-icon-touch.svg">
              <div class="card-body">
                <p class="card-text">do not touch eyes, nose or mouth</p>
              </div>
          </div>
      </div>
  </div>